<div class="grid-container">
    <div style="height: 100%;">
        <ul>
            <li><input type="checkbox" checked> Display PDF files that are already uploaded - Task Sheets</li>
            <li><input type="checkbox">Allow for PDF to be uploaded - Student Submission</li>
            <li><input type="checkbox">Display uploaded PDF file</li>
            <li><input type="checkbox">Allow for multiple PDF files to be uploaded</li>
            <li><input type="checkbox">Display multiple PDF files</li>
            <li><input type="checkbox">Extend functionality to other files types</li>
          </ul>
    </div>
    <div>
        <app-iframe-object></app-iframe-object>
    </div>
    <div>Submission Display</div>  
  </div>